
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('~leaflet/dist/leaflet.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dikecad {
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .nav-link, .navbar-brand {
      color: #d9dade;

      &:hover {
          color: #e6e7ea;
      }
  }
}

.map-sidebar {
    color: #d9dade;
}

.row {
    margin: 0;
}

#map {
  height: 94vh;
}
